h2 {
    display: flex;
    justify-content: center;
    justify-items: center;
    color: white;
}

.chat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
}

.chat-messages {
    width: 80%;
    height: 50%;
    max-height: 300px;
    border: 2px solid #bc0000;
    border-radius: 4px;
    padding: 10px;
    overflow-wrap: break-word;
    overflow-x: scroll;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.chat-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separate-line {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 5px 0;
}

textarea {
    align-items: center;
    align-content: center;
    width: 500px;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #bc0000;
    border-radius: 4px;
    font-size: 16px;
}

@media (max-width: 600px) {
    textarea {
        width: 300px;
    }
}