h2 {
    display: flex;
    justify-content: center;
    justify-items: center;
    color: black;
}

.chat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.chat-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    align-items: center;
    align-content: center;
    width: 500px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #bc0000;
    border-radius: 4px;
    font-size: 16px;
    resize: both;
}